<h1>Listing attachments</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>File name</th>
      <th>File size</th>
      <th>Content type</th>
      <th>Active</th>
      <th>Resource type</th>
      <th>Resource</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @attachments.each do |attachment| %>
    <tr>
      <td><%= attachment.description %></td>
      <td><%= attachment.file_name %></td>
      <td><%= attachment.file_size %></td>
      <td><%= attachment.content_type %></td>
      <td><%= attachment.active %></td>
      <td><%= attachment.resource_type %></td>
      <td><%= attachment.resource_id %></td>
      <td><%= link_to 'Show', attachment %></td>
      <td><%= link_to 'Edit', edit_attachment_path(attachment) %></td>
      <td><%= link_to 'Destroy', attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Attachment', new_attachment_path %>
