<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @member.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @member.last_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @member.middle_name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @member.bio %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Cell number:</strong>
  <%= @member.cell_number %>
</p>

<p>
  <strong>Home number:</strong>
  <%= @member.home_number %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @member.birthday %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @member.occupation %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @member.gender %>
</p>

<p>
  <strong>Hobbies:</strong>
  <%= @member.hobbies %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @member.contact_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @member.location_id %>
</p>

<p>
  <strong>Started brewing:</strong>
  <%= @member.started_brewing %>
</p>

<p>
  <strong>Favorite styles:</strong>
  <%= @member.favorite_styles %>
</p>

<p>
  <strong>On tap:</strong>
  <%= @member.on_tap %>
</p>

<p>
  <strong>Primary:</strong>
  <%= @member.primary %>
</p>

<p>
  <strong>Future brews:</strong>
  <%= @member.future_brews %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
